// Fontes
$fontPrincipal: Roboto, sans-serif;

// Esquema de cores
$corHeader: #182C61;
$corBackground: #f5f6fa;
$corButton: #44bd32;
$corButtonSecundaria: #4cd137;

// Breakpoints
$mobile:767px;
$tablet:1023px;